.button {
  display: block;
  padding: 7px 12px;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: bold;
  line-height: 1;
  color: $colorViolet;
  white-space: nowrap;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 3px;
  outline: none;
  appearance: none;
  cursor: pointer;
  user-select: none;
  transition: background-color 150ms ease-in-out;
}


.button:hover,
.button:focus {
  background-color: rgba(0, 0, 0, .025);
}

.button:disabled {
  filter: grayscale(1);
  opacity: .5;
  user-select: none;
  cursor: default;
}

.button__icon {
  display: block;
  position: absolute;
}

.button__icon_fill {
  fill: $colorViolet;
}

.button__icon_stroke {
  fill: none;
  stroke: $colorViolet;
}

.button_type_text-icon {
  padding-right: 33px;
  position: relative;
}

.button_type_text-icon .button__icon {
  width: 15px;
  height: 15px;
  right: 13px;
  top: 50%;
  transform: translate(0, calc(-50% - 1px));
}

.button_type_icon {
  width: 28px;
  height: 28px;
  padding: 0;
  position: relative;
  text-indent: -999px;
  border-radius: 50%;
  overflow: hidden;
  opacity: 1;
  transition: opacity .15s ease-in-out;
}

.button_type_icon .button__icon {
  width: 16px;
  height: 16px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.button_type_icon:hover,
.button_type_icon:focus {
  background-color: rgba(255, 255, 255, 0);
  opacity: .8;
}

.button_type_popup {
  width: 100%;
  padding-left: 35px;
  position: relative;
  font-size: 13px;
  font-weight: 400;
  text-align: left;
}

.button_type_popup .button__icon {
  width: 15px;
  height: 15px;
  left: 10px;
  top: 50%;
  transform: translate(0, calc(-50% - 1px));
}

.button_type_grabber {
  cursor: grab;
}

.button_type_grabber:active {
  cursor: grabbing;
}

.button_fill_violet {
  color: #fff;
  background-color: $colorViolet;
}

.button_fill_violet:hover,
.button_fill_violet:focus {
  background-color: darken($colorViolet, 3%);
}

.button_fill_violet .button__icon_fill {
  fill: #fff;
}

.button_fill_violet .button__icon_stroke {
  stroke: #fff;
}

.button_fill_red {
  color: #fff;
  background-color: $colorRed;
}

.button_fill_red:hover,
.button_fill_red:focus {
  background-color: $colorRedDark;
}

.button_fill_red .button__icon_fill {
  fill: #fff;
}

.button_fill_red .button__icon_stroke {
  stroke: #fff;
}

.button_color_black {
  color: $colorBlack;
}

.button_color_black .button__icon_fill {
  fill: $colorBlack;
}

.button_color_black .button__icon_stroke {
  stroke: $colorBlack;
}

.button_color_red {
  color: $colorRed;
}

.button_color_red .button__icon_fill {
  fill: $colorRed;
}

.button_color_red .button__icon_stroke {
  stroke: $colorRed;
}
