.button {
  padding: 7px 12px;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: bold;
  line-height: 1;
  color: $colorViolet;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 3px;
  outline: none;
  appearance: none;
  cursor: pointer;
  user-select: none;
  transition: background-color 150ms ease-in-out;
}


.button:hover,
.button:focus {
  background-color: rgba(0, 0, 0, .025);
}

.button_type_icon {
  width: 28px;
  height: 28px;
  text-indent: -999px;
  background-color: rgba(255, 255, 255, 0);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  border-radius: 50%;
  overflow: hidden;
  opacity: 1;
  transition: opacity .15s ease-in-out;
}

.button_type_submit {
  color: #fff;
  background-color: $colorViolet;
}

.button_type_submit:hover,
.button_type_submit:focus {
  background-color: darken($colorViolet, 3%);
}

.button_type_disabled {
  filter: grayscale(1);
  opacity: .5;
  user-select: none;
  cursor: default;
}

.button_type_disabled:hover {
  background-color: rgba(255, 255, 255, 0);
}

.button_type_warn {
  color: #fff;
  background-color: $colorRed;
}

.button_type_warn:hover,
.button_type_warn:focus {
  background-color: $colorRedDark;
}

.button_type_icon:hover,
.button_type_icon:focus {
  background-color: rgba(255, 255, 255, 0);
  opacity: .8;
}

.button_type_text-icon {
  padding-right: 33px;
  background-color: rgba(255, 255, 255, 0);
  background-position: calc(100% - 13px) calc(50% - 1px);
  background-repeat: no-repeat;
  background-size: 15px 15px;
}

.button_type_popup {
  width: 100%;
  padding-left: 35px;
  font-size: 13px;
  font-weight: 400;
  text-align: left;
  text-transform: lowercase;
  color: $colorBlack;
  background-color: hsla(0,0%,100%,0);
  background-position: 10px;
  background-repeat: no-repeat;
  background-size: 15px 15px;
}

.button_type_popup::first-letter {
  text-transform: uppercase;
}

.button_icon_menu {
  background-image: url(../images/menu.svg);
}

.button_icon_grabber {
  background-image: url(../images/grabber.svg);
  cursor: grab;
}

.button_icon_grabber:active {
  cursor: grabbing;
}

.button_icon_minus {
  background-image: url(../images/minus.svg);
}

.button_icon_add-list {
  background-image: url(../images/add-list.svg);
}

.button_icon_add-task {
  background-image: url(../images/add-task.svg);
}

.button_icon_edit {
  background-image: url(../images/edit.svg);
}

.button_icon_copy {
  background-image: url(../images/copy.svg);
}

.button_icon_delete {
  background-image: url(../images/delete.svg);
}

.button_icon_import {
  background-image: url(../images/import.svg);
}

.button_icon_export {
  background-image: url(../images/export.svg);
}

.button_icon_upload {
  background-image: url(../images/upload.svg);
}

.button_color_red {
  color: $colorRed;
}
