@import '@/assets/scss/env/index';

.task-editor {

  &__controls {
    display: flex;
    justify-content: space-between;
    padding: 16px 20px;
    background-color: get-light($bgColor, 'main');
    border-right: 1px solid get-light($sectionBorderColor);
    border-top: 1px solid get-light($sectionBorderColor);
    border-left: 1px solid get-light($sectionBorderColor);
    border-radius: 0 0 8px 8px;
  }
  
  &__controls-col {
    display: flex;
    gap: 12px;
  }
  
  .task-editor__mode-button {
    
  }
}
