.button {
  display: block;
  padding: 7px 12px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: $primaryColor;
  text-decoration: none;
  white-space: nowrap;
  background-color: $transparent;
  border: 1px solid $transparent;
  border-radius: 4px;
  outline: none;
  appearance: none;
  cursor: pointer;
  user-select: none;
  transition: background-color 150ms ease-in-out;
}


.button:hover,
.button:focus {
  background-color: lighten($primaryColor, 35%);
}

.button:disabled {
  filter: grayscale(1);
  opacity: .5;
  user-select: none;
  cursor: default;
}

.button__icon {
  display: block;
  position: absolute;
}

.button__icon_fill {
  fill: $primaryColor;
}

.button__icon_stroke {
  fill: none;
  stroke: $primaryColor;
}

.button_type_text-icon {
  padding-right: 32px;
  position: relative;
}

.button_type_text-icon .button__icon {
  width: 17px;
  height: 17px;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.button_type_icon-text {
  padding-left: 30px;
  position: relative;
}

.button_type_icon-text .button__icon {
  width: 17px;
  height: 17px;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
}

.button_type_icon {
  width: 28px;
  height: 28px;
  padding: 0;
  position: relative;
  text-indent: -99999px;
  border-radius: 50%;
  overflow: hidden;
  opacity: 1;
  transition: opacity .15s ease-in-out;
}

.button_type_icon .button__icon {
  width: 16px;
  height: 16px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.button_type_icon:hover,
.button_type_icon:focus {
  background-color: $transparent;
  opacity: .8;
}

.button_type_popup {
  width: 100%;
  padding-left: 35px;
  position: relative;
  font-size: 13px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;

  &:hover,
  &:focus {
    background-color: rgba(0, 0, 0, .025);
  }
}

.button_type_popup .button__icon {
  width: 15px;
  height: 15px;
  left: 10px;
  top: 50%;
  transform: translate(0, -50%);
}

.button_type_grabber {
  cursor: grab;
}

.button_type_grabber:active {
  cursor: grabbing;
}

.button_fill_black {
  color: #fff;
  background-color: lighten($black, 3%);

  &:hover,
  &:focus {
    background-color: lighten($black, 6%);
  }

  .button__icon_fill {
    fill: #fff;
  }

  .button__icon_stroke {
    stroke: #fff;
  }
}

.button_fill_red {
  color: #fff;
  background-color: $redLight;

  &:hover,
  &:focus {
    background-color: darken($redLight, 5%);
  }

  .button__icon_fill {
    fill: #fff;
  }

  .button__icon_stroke {
    stroke: #fff;
  }
}

.button_fill_violet {
  color: #fff;
  background-color: lighten($primaryColor, 4%);

  &:hover,
  &:focus {
    background-color: $primaryColor;
  }

  .button__icon_fill {
    fill: #fff;
  }

  .button__icon_stroke {
    stroke: #fff;
  }
}

.button_color_black {
  color: get-light($baseTextColor);

  .button__icon_fill {
    fill: lighten($black, 3%);
  }
  
  .button__icon_stroke {
    stroke: lighten($black, 3%);
  }
}

.button_color_red {
  color: $redLight;

  &:hover,
  &:focus {
    background-color: lighten($redLight, 41%);
  }

  .button__icon_fill {
    fill: $redLight;
  }
  
  .button__icon_stroke {
    stroke: $redLight;
  }
}

.button_border {
  border: 1px solid;
}

// Dark theme

.app_theme_dark {

  // Common

  .button {
    color: get-dark($baseTextColor);
    background-color: $transparent;
    transition: opacity 150ms ease-in-out, background-color 150ms ease-in-out;

    &:hover {
      background-color: lighten(get-dark($bgColor, 'second'), 4%);
      opacity: 0.8;
    }

    .button__icon_fill {
      fill: get-dark($baseTextColor);
    }
  
    .button__icon_stroke {
      stroke: get-dark($baseTextColor);
    }
  }

  // Types

  .button_type_icon {
    background-color: $transparent;
    border: none;
  
    &:hover {
      background-color: $transparent;
    }
  
    .button__icon_fill {
      fill: get-dark($baseTextColor);
    }
  
    .button__icon_stroke {
      stroke: get-dark($baseTextColor);
    }
  }

  .button_type_popup {

    .button__icon_fill {
      fill: get-dark($baseTextColor);
    }
  
    .button__icon_stroke {
      stroke: get-dark($baseTextColor);
    }
  }

  // Colors

  .button_color_red {
    color: $red;

    .button__icon_fill {
      fill: $red;
    }
  
    .button__icon_stroke {
      stroke: $red;
    }
  }

  .button_color_black {
    color: $gray;

    .button__icon_fill {
      fill: $gray;
    }
  
    .button__icon_stroke {
      stroke: $gray;
    }
  }

  // Fill

  .button_fill_red {
    color: $black;
    background-color: $red;
    border: 1px solid $red;

    &:hover {
      background-color: $red;
    }

    .button__icon_fill {
      fill: $red;
    }
  
    .button__icon_stroke {
      stroke: $red;
    }
  }

  .button_fill_violet {
    color: get-dark($baseTextColor);
    background-color: $primaryColor;
    border: 1px solid $primaryColor;

    &:hover {
      background-color: $primaryColor;
    }

    .button__icon_fill {
      fill: get-dark($baseTextColor);
    }
  
    .button__icon_stroke {
      stroke: get-dark($baseTextColor);
    }
  }

}
