.form {
  width: 100%;
  border-radius: 8px;
}

.form__header {
  padding: 16px 20px;
  position: relative;
  background-color: get-light($bgColor, 'main');
  border-bottom: 1px solid get-light($sectionBorderColor);
  border-radius: 8px 8px 0 0;
}

.form__body {
  padding: 16px 20px 20px;
  background-color: get-light($bgColor, 'main');
  border-radius: 0 0 8px 8px;
}

.form__cancel-button {
  position: absolute;
  right: 0;
  top: 14px;
  transform: translate(-50%, 0);
}

.form__desc {
  margin-top: 6px;
}

.form__row_input:not(:first-child) {
  padding-top: 4px;
}

.form__row_input + .form__row_controls {
  margin-top: 12px;
}

.form__row_controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__row_padding_bottom {
  padding-bottom: 16px;
}

.form__label {
  padding-left: 6px;
}

.form__label-name {
  font-size: 12px;
  line-height: 2;
  white-space: nowrap;
  color: get-light($secondaryTextColor);
}

.form__required-sign {
  color: $redLight;
}

.form__input-wrapper {
  position: relative;
}

.form__input {
  font-family: 'Open Sans';
  font-size: 12px;
  color: #464646;
  line-height: 1em;
  border: none;
  outline: none;
}

.form__input_type_text {
  display: block;
  width: 100%;
  padding: 8px;
  background-color: #f0f2f5;
  border-radius: 4px;
}

.form__input_type_file {
  display: block;
  width: auto;
}

.form__textarea {
  display: block;
  width: 100%;
  padding: 8px;
  line-height: 18px;
  background-color: #f0f2f5;
  border-radius: 4px;
  resize: none;
}

.form__input_type_text:focus,
.form__textarea:focus {
  background-color: #f6f7f9;
}

.form__input_warn {
  padding-right: 26px;
  background-color: lighten($red, 40%);
}

.form__input_warn + .form__icon {
  display: block;
}

.form__input_warn:focus {
  background-color: lighten($red, 41%);
}

.form__input-warning {
  font-size: 11px;
  color: $red;
  text-align: right;
  position: absolute;
  right: 6px;
  top: -6px;
  transform: translate(10px, -100%);
  user-select: none;
  opacity: 0;
  transition: opacity .15s ease-in-out, transform .15s ease-in-out;

  &_active {
    transform: translate(0, -100%);
    opacity: 1;
  }
}

.form__input_warn ~ .form__input-warning {
  display: block;
}

.form__control-button {
  padding: 10px 12px;
}

.form__control-button_scale_2-5 {
  width: 40%;
}

.form__control-button_scale_3-5 {
  width: 60%;
}

.form__control-button_scale_min {
  min-width: 120px;
}

.form__control-button_scale_max {
  width: 100%;
}

.form__control-button:not(:last-of-type) {
  margin-right: 10px;
}

.form__icon {
  display: none;
  width: 18px;
  height: 18px;
  position: absolute;
}

.form__icon_fill_red {
  fill: $red;
}

.form__icon_pos_right_center {
  right: 5px;
  top: 50%;
  transform: translate(0, -50%);
}

// Dark theme

.app_theme_dark {

  .form__header {
    background-color: get-dark($bgColor, 'main');
    border-top: 1px solid get-dark($formBorderColor);
    border-right: 1px solid get-dark($formBorderColor);
    border-bottom: 1px solid get-dark($sectionBorderColor);
    border-left: 1px solid get-dark($formBorderColor);
  }

  .form__body {
    background-color: get-dark($bgColor, 'second');
    border-right: 1px solid get-dark($formBorderColor);
    border-bottom: 1px solid get-dark($formBorderColor);
    border-left: 1px solid get-dark($formBorderColor);
  }

  .form__label-name,
  .form__input {
    color: get-dark($baseTextColor);
  }

  .form__input_type_text,
  .form__textarea {
    background-color: get-dark($bgColor, 'main');
  }

  .form__input_type_text:focus,
  .form__textarea:focus {
    background-color: darken(get-dark($bgColor, 'main'), 4%);
  }

}
