// Font-face

@mixin font-face($font-family, $url, $weight, $style) {
  @font-face {
    font-family: $font-family;
    src: url($url);
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}

// Breakpoints

@mixin custom-screen($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

@mixin huge-screen {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

@mixin desktop-screen {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin tablet-screen {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin extra-mobile-screen {
  @media screen and (max-width: 480px) {
    @content;
  }
}

@mixin mobile-screen {
  @media screen and (max-width: 320px) {
    @content;
  }
}

// Custom scrollbar

@mixin custom-scrollbar($borderColor: #ffffff) {

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: rgba(0, 0, 0, 0);
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
    border: 0 none;
    border-radius: 13px;
    box-shadow: none;
  }

  &::-webkit-scrollbar-thumb {
    background: $gray;
    border: 2.8px solid $borderColor;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: lighten($gray, 5%);
  }

  &_scrollbar-hidden::-webkit-scrollbar-thumb {
    background: transparent;
  }

}

// Dark theme

@mixin dark-theme() {

  [data-theme="dark"] {
    @content;
  }

}
