/* Color palette */

$red: #e53f56;
$redLight: #ed344e;
$green: #1ad185;
$blue: #1b84ff;
$gray: #cccccc;
$violet: #4545fe;
$black: #333333;

/* Colors of elements */

$primaryColor: $violet;
$transparent: rgba(255, 255, 255, 0);
$baseTextColor: (
  'light': #333333,
  'dark': #fafafa
);
$secondaryTextColor: (
  'light': #5a5a5a,
  'dark': #dbdada
);
$sectionBorderColor: (
  'light': #ededed,
  'dark': #464545
);
$formBorderColor: (
  'light': $transparent,
  'dark': #4b4b4b
);

// Backgrounds

$mainBg: (
  'light': linear-gradient(67deg, rgba(249, 239, 250, 0.549), transparent, rgba(118, 96, 232, 0.129)),
  'dark': radial-gradient(circle at 48% 31%, rgba(0, 187, 255, 0.9) 4%, rgba(106, 44, 215, 0.9) 100%)
);
$bgColor: (
  'light': (
    'main': #ffffff,
    'second': #f5f5fa
  ),
  'dark': (
    'main': #363636,
    'second': #1e1e1e
  )
);
$taskPriorityBgColor: (
  'light': (
    'low': darken($green, 1%),
    'middle': lighten($blue, 12%),
    'high': lighten($red, 4%)
  ),
  'dark': (
    'low': darken($green, 1%),
    'middle': lighten($blue, 12%),
    'high': lighten($red, 4%)
  )
);
$taskHoverBg: (
  'light': linear-gradient(to bottom, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.04)),
  'dark': linear-gradient(to bottom, rgba(30, 30, 30, 0.5), rgba(30, 30, 30, 0.55))
);

/* Fonts */

$fontLogo: 'Leckerli One', sans-serif;
$fontMain: 'Open Sans', sans-serif;

/* Layers */

$layersNames: ('page', 'popup', 'modal');
$layers: ();

$i: 0;
@each $layerName in $layersNames {
  $i: $i + 10;

  $cssVarName: "layer_" + $layerName;
  $layers: map-merge(
    $layers,
    ($cssVarName: $i),
  );
}
