@import '@/assets/scss/env/index';

.task-editor {
  width: 100%;
  max-width: 720px;

  &__form {
    display: flex;
    flex-direction: column;
    padding: 12px 20px;
    background-color: get-light($bgColor, 'main');
    border-right: 1px solid get-light($sectionBorderColor);
    border-left: 1px solid get-light($sectionBorderColor);
  }

  &__preview {
    display: flex;
    flex-direction: column;
    padding: 12px 20px;
    background-color: get-light($bgColor, 'main');
    border-right: 1px solid get-light($sectionBorderColor);
    border-left: 1px solid get-light($sectionBorderColor);
  }
}
